.container{
  width: 60%;
  margin: auto;

  text-align: center;
}

.dice{
  text-align: center;
  display: inline-block;
  width: 25%;

}

h1{
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  text-shadow: 5px 2px #232931;
}
body{
  background-color: #393E46;
}
p{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #4ECCA3;

}

footer{
  margin: 3%;
  text-align: center;
  color: #EEEEEE;
  font-style: 'Indie Flower', cursive;

}
